
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scan</title>
</head>
<body>
    

<h2>Please enter your Website address to scan: </h2>
<!-- <br> -->
<form action="{% url 'my_function' %}">
<textarea name="fulltextarea" cols=80 rows=2>enter your add.</textarea>
<br />
<h1><input type="submit" value="Start the scan!"/></h1>

</form>


</body>
</html>